# Ignore video files
*.mp4
*.mkv
*.avi
*.mov
*.wmv
*.flv
*.webm
*.mpeg
*.mpg
*.3gp
*.m4v
*.ts
*.vob
*.ogv
*.rm
*.rmvb
*.asf
*.swf

# Ignore audio/music files
*.mp3
*.wav
*.flac
*.aac
*.ogg
*.wma
*.m4a
*.aiff
*.alac
*.amr
*.opus
*.mid
*.midi
*.ra
*.au
*.mp2
*.ac3
*.dsd
*.pcm
*.ape
*.wv
*.tta
*.mka
*.oga
*.spx
*.caf
*.voc
*.snd
*.kar
*.gsm
*.ivs
*.8svx
*.cda
*.mod
*.s3m
*.xm
*.it
*.mo3
*.mtm
*.umx
*.gbs
*.gym
*.hes
*.kss
*.nsf
*.nsfe
*.sap
*.spc
*.vgm
*.vgz
*.xgm
*.ay
*.gbs
*.psf
*.psf2
*.ssf
*.2sf
*.usf
*.qsf
*.dsf
*.minipsf
*.minipsf2
*.minissf
*.mini2sf
*.miniusf
*.miniqsf
*.minidsf

# Ignore Mac and Windows system files
.DS_Store
Thumbs.db
